/*
 * Merriweather
================================================================================ */

@font-face {
    font-family: 'Merriweather';
    src: url('/assets/fonts/Merriweather/Merriweather-Light.ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'Merriweather';
    src: url('/assets/fonts/Merriweather/Merriweather-LightItalic.ttf');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Merriweather';
    src: url('/assets/fonts/Merriweather/Merriweather-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Merriweather';
    src: url('/assets/fonts/Merriweather/Merriweather-Italic.ttf');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Merriweather';
    src: url('/assets/fonts/Merriweather/Merriweather-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'Merriweather';
    src: url('/assets/fonts/Merriweather/Merriweather-BoldItalic.ttf');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Oswald';
    src: url('/assets/fonts/Oswald/Oswald-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Oswald';
    src: url('/assets/fonts/Oswald/Oswald-Bold.ttf');
    font-weight: 700;
}