---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "fonts";
@import "minima";

/* Additional css */

/**
 * Page links
 */

.page-link {
    font-family: "KingsBureauGrot", sans-serif;
    font-size: 1rem;
    color: #424242;

    &::after {
        content: "/";
        padding: 0 0 0 24px;
    }

    &:last-child:after {
        content: " ";
    }
}

/**
 * Tags
 */

.tags {
  background: #e8e8e8;
  border-radius: 2px;
  color: #424242;
  font-family: $auxiliary-font;
  font-size: 14px;
  padding: 2px 6px;
}


