---
layout: default
---

<div class="home">

  {{ content }}
  <p>Link to a page that is sitting under the <code>_content</code> folder: 
    <a href="{{ site.url }}/content/content-page/">content page</a>.<br>
  (It should not appear in the nav)</p>

  <h2>Table of contents</h2>

  <ol>
    <li>
      <a href="#">Design standards</a>
      <ul>
        <li><a href="#">Colour palette</a></li>
      </ul>
    </li>
    <li>
      <a href="#">Coding standards</a>
      <ul>
        <li><a href="#">css/scss</a></li>
        <li><a href="#">html</a></li>
        <li><a href="#">javascript</a></li>
      </ul>
      <ul>
        <li><a href="#">Dos</a></li>
        <li><a href="#">Don'ts</a></li>
      </ul>
    </li>
    <li><a href="#">Project repositories</a></li>
    <li><a href="#">Image manipulation</a></li>
    <li><a href="#">Templates for presentations</a></li>
    <li><a href="#">KDL "sub-branding"</a></li>
    <li><a href="#">Website review</a></li>
  </ol>

  <h1 class="page-heading">Table of contents</h1>

  <ol>
  {% for category in site.categories %}
    {% capture category_name %}{{ category | first }}{% endcapture %}
    
    <a name="{{ category_name | slugize }}"></a>
    <li class="category-head" id="#{{ category_name | slugize }}">
      <a href="{{ category_name | slugize }}">{{ category_name }}</a>
      <ul>
        {% for post in site.categories[category_name] %}
        <li>
          <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </li>
        {% endfor %}
      </ul>
    </li>
  {% endfor %}
  </ol>

</div>
